/***************************************************************************************
Import all modularized SCSS files first.
***************************************************************************************/
@import '_colors';


/***************************************************************************************
These are here for informational purposes only. Feel free to delete.
***************************************************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

a {
  text-decoration: none;
  color: $green;
}

.container {
  padding: 20px 50px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 8px 16px;
  background: $black;
  color: rgba($white, 0.9);
  border-radius: 2px;
}
